/* синий квадрат */
.header__square-pic{
    width: 568px;
    height: 568px;
    position: absolute;
    background-color: #2f80ed;
    background-size: cover;
    top: 64px;
    right: 0;
    z-index: 0;
     }