@import url("../two-columns/__brief/two-columns__brief.css");
@import url("../two-columns/__main-text/two-columns__main-text.css");
@import url("../two-columns/__paragraph/two-columns__paragraph.css");
@import url("../two-columns/__paragraph/two-columns__paragraph:last-of-type.css");
@import url("../two-columns/__span-accent/two-columns__span-accent.css");
  /* первая секция */
  .description{
    display: flex;
    margin-top: 100px;
    width: 80%;
    justify-content: space-between;
  }