@import url("__iframes/video__iframes.css");
@import url("__iframe/video__iframe.css");
@import url("__list-style/video__list-style.css");
.video{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    z-index: 2;
}