.feinman__link{
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 48px;
    color: black; /* убрал цвет #2f80ed, но в брифе написано, что это ссылка,
     а для ссылок на первой странице есть указание конкретного цвета для ссылок */
  }
  .feinman__link:hover{
    opacity: .5;
    transition: linear .3s;
  }