@import url("/blocks/logo/_place/logo_place_header.css");
@import url("/blocks/logo/_place/logo_place_footer.css");
/* логотип */
.logo{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }