@import url("cards/cards.css");
@import url("cards/__item/cards__item.css");
@import url("cards/__item/_margins/cards__item_margins_bottom.css");
@import url("cards/__image/cards__image.css");
@import url("cards/__title/cards__title.css");
@import url("cards/__description/cards__description.css");
@import url("cards/__item/cards__item:nth-of-type.css");
.techniques{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 80%;
}
